##### Step 1: Establish a connection

In [17]:
import mysql.connector as connector
import json

with open('global_variables.json') as global_variables_file:
    global_variables = json.load(global_variables_file)

db = global_variables['db']
host = global_variables['host']
user = global_variables['user']
password = global_variables['password']

try:
    connection = connector.connect(
        host=host,
        user=user,
        password=password
    )
    print("Connected to MySQL!")
        
except connector.Error as error:
    print("Error while connecting to MySQL:", error)

Connected to MySQL!

##### Step 2: Create a cursor

In [18]:
cursor = connection.cursor()

##### Step 3: Query and Print Tables in DB

In [19]:
show_tables_query = "SHOW TABLES"
cursor.execute(f"USE {db}")
cursor.execute(show_tables_query)
results = cursor.fetchall()
for table in results:
    print(table)

('bookings',)
('customerdetails',)
('menu',)
('menuitems',)
('orderdeliverystatus',)
('orderitems',)
('orders',)
('ordersview',)
('staffinformation',)

##### Step 3: Query and Print Customers With TotalCost Over $60

In [23]:
db_query = """
SELECT DISTINCT
    customerdetails.CustomerName,
    customerdetails.Email,
    customerdetails.ContactNumber
FROM customerdetails
INNER JOIN bookings
    ON bookings.CustomerID = customerdetails.CustomerID
INNER JOIN orders
    ON orders.BookingID = bookings.BookingID
WHERE
    orders.TotalCost >= 60
"""

cursor.execute(db_query)
results = cursor.fetchall()
for customer in results:
    print(customer)

('Laney Fadden', 'LaneyFadden@example.com', '213-456-7871')
('Lia Bonar', 'LiaBonar@example.com', '323-789-4250')
('Tasia Fautly', 'TasiaFautly@example.com', '619-345-6596')
('Angel Veschambre', 'AngelVeschambre@example.com', '714-456-7686')
('Audie Willcocks', 'AudieWillcocks@example.com', '310-678-9178')
('Ashil Brogini', 'AshilBrogini@example.com', '303-456-7143')
('Arthur Mathewson', 'ArthurMathewson@example.com', '404-567-8254')
('Roddie Winterbotham', 'RoddieWinterbotham@example.com', '707-890-1651')
('Sabra Calbreath', 'SabraCalbreath@example.com', '617-456-7579')
('Anders Stowe', 'AndersStowe@example.com', '830-678-9882')
('Noni Quickenden', 'NoniQuickenden@example.com', '214-901-2126')
('Alan Paskell', 'AlanPaskell@example.com', '305-012-3161')
('Anny Pattemore', 'AnnyPattemore@example.com', '410-123-4293')
('Horatio Lundy', 'HoratioLundy@example.com', '614-345-6545')
('Sibley Rodder', 'SibleyRodder@example.com', '718-456-7724')
('Sorcha Beesley', 'SorchaBeesley@example.com', '831-678-9899')
('Dre Danher', 'DreDanher@example.com', '908-890-1933')
('Adiana Shirtliff', 'AdianaShirtliff@example.com', '214-012-3109')
('Tiertza Doogan', 'TiertzaDoogan@example.com', '818-567-8828')
('Ilario Michie', 'IlarioMichie@example.com', '213-678-9075')
('Skipp Lowater', 'SkippLowater@example.com', '510-890-1438')
('Cornelius Harkess', 'CorneliusHarkess@example.com', '818-123-4810')
('Erv Padrick', 'ErvPadrick@example.com', '213-234-5654')
('Purcell Eyer', 'PurcellEyer@example.com', '323-456-7216')
('Pietra Dibdall', 'PietraDibdall@example.com', '510-567-8421')
('Prudence Eastlake', 'PrudenceEastlake@example.com', '323-012-3199')
('Jerrie Jiran', 'JerrieJiran@example.com', '510-234-5401')
('Linc Martynov', 'LincMartynov@example.com', '619-345-6597')
('Asia McNess', 'AsiaMcNess@example.com', '707-890-1652')
('Olive Jeannon', 'OliveJeannon@example.com', '909-012-3951')
('Karoline Pocock', 'KarolinePocock@example.com', '212-123-4538')
('Rosanne Zorzutti', 'RosanneZorzutti@example.com', '413-234-5311')
('Artair Lant', 'ArtairLant@example.com', '617-456-7580')
('Marielle Buffey', 'MarielleBuffey@example.com', '718-567-8759')
('Eva Dulake', 'EvaDulake@example.com', '410-123-4294')
('Darby McLae', 'DarbyMcLae@example.com', '614-345-6546')
('Hynda Skeel', 'HyndaSkeel@example.com', '831-678-9900')
('Melisent Claessens', 'MelisentClaessens@example.com', '972-901-2986')